@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Roboto:wght@300&display=swap');

@font-face {
    font-family: "Norse";
    src: url("Norse-Bold.woff") format("woff");
}

* {
    padding: 0;
    margin: 0;
}

.body-container {
    display: flex;
    font-family: "Montserrat", sans-serif;
}

.left-container {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    width: auto;
}

.left-container img {
    width: 100%;
    height: 100%;
    max-height: 100vh;
}

.odin-logo {
    display: flex;
    position: absolute;
    top: 20vh;
    width: 100%;
    height: 20vh;
    background: rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 5rem;
}

.odin-logo img {
    width: auto;
    height: 100%;
}

.odin-logo::after {
    color: white;
    font-family: "Norse";
    content: "ODIN";
}

footer {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

footer a {
    color: white;
}

.form-header {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 15vh;
    padding-bottom: 5vh;
    gap: 3vh;
    font-size: 1.4rem;
}

.form-inputs {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 2.5vh;
    padding-left: 40px;
    padding-right: 15vh;
    padding-bottom: 2.5vh;
    gap: 3vh;
}

.form-row {
    display: flex;
    gap: 7vh;
}

.form-element {
    position: relative;
}

form label {
    position: absolute;
    bottom: 2vh;
    font-size: 0.75rem;
}


.form-footer {
    display: flex;
    flex-direction: column;
    padding-top: 2.5vh;
    padding-left: 40px;
    padding-right: 15vh;
    gap: 2.5vh;
}

.form-footer button {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #596d48;
    width: 15rem;
    padding: 1rem 1rem;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: whitesmoke;
    max-width: 70%;
}